/* Icon */
.icon {
    width: var(--font-size-base);
    height: var(--font-size-base);
    fill: var(--color-secondary);
}

.icon.append {
    margin-right: var(--margin-sm);
}

.icon.prepend {
    margin-left: var(--margin-sm);
}

.icon svg {
    width: inherit;
    height: inherit;
}

.icon.outline,
.icon.text {
    fill: var(--color-primary);
}