@import url('https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css');

/* Fonts */
/*--------------------*/
@font-face {
  font-family: 'NotoSansJP';
  src: url('/fonts/NotoSansJP.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'UbuntuMono';
  src: url('/fonts/UbuntuMono.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

:root {
  font-family: 'NotoSansJP', system-ui, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;

  --font-size-base: clamp(0.9rem, 0.34vw + 0.7rem, 1rem);
  --font-size-sm: clamp(0.85rem, 0.5vw + 0.95rem, 0.865rem);
  --font-size-md: clamp(1rem, 0.5vw + 0.95rem, 1.25rem);
  --font-size-lg: clamp(1.2rem, 0.7vw + 1.2rem, 1.75rem);
  --font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);

  --margin-base: clamp(0.9rem, 0.34vw + 0.7rem, 1rem);
  --margin-sm: clamp(0.7rem, 0.5vw + 0.75rem, 0.75rem);
  --margin-md: clamp(1rem, 0.5vw + 0.95rem, 1.25rem);
  --margin-lg: clamp(1.2rem, 0.7vw + 1.2rem, 1.5rem);
  --margin-xl: clamp(1.2rem, 0.7vw + 1.5rem, 1.75rem);
  --margin-2xl: clamp(2.44rem, 2.38vw + 1.85rem, 2.25rem);

  --padding-sm: 0.375em 0.75em;
  --padding-md: 0.5em 1em;
  --padding-lg: 0.75em 1.375em;

  --bg-default: #e0e0e0;
  --bg-primary: #3d5afe;
  --bg-secondary: #455a64;
  --bg-danger: #d32f2f;
  --bg-transparent: transparent;

  --bg-hover-default: #aeaeae;
  --bg-hover-primary: #0039cb;
  --bg-hover-secondary: #1c313a;
  --bg-hover-danger: #9a0007;
  --bg-hover-transparent: rgba(41, 98, 255, 0.1);

  --color-white: #ffffff;
  --color-default: #3f3f3f;
  --color-primary: #3d5afe;
  --color-dark: #333333;
  --color-gray: #828282;
  --color-muted: #9e9e9e;

  --transition-duration: 0.25s;
  --box-shadow-color: rgba(0, 0, 0, 0.1);
}

body {
  color: var(--color-muted);
  font-size: var(--font-size-base);
}

/* Layout */
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 3.5em 5rem;
}

/* Home */
main {
  display: flex;
  flex-direction: column;
}

/* Item */
main .list {
  display: flex;
  flex-direction: row;
  margin-bottom: 45px;
}
main .list .item {
  min-width: 150px;
  margin-right: 68px;
}

/* Header */
header h1 {
  font-weight: 500;
  font-size: var(--font-size-lg);
  line-height: 36px;
  color: var(--color-dark);
  margin-bottom: var(--margin-xl);
}

/* Footer */
footer {
  display: block;
}
footer p {
  color: var(--color-muted);
  font-size: 14px;
  line-height: 17px;
}

/* Code */
pre {
  font-size: var(--font-size-sm);
  line-height: 12px;
  margin-bottom: var(--margin-sm);
}

/* Icon */
.icon {
  width: var(--font-size-base);
  height: var(--font-size-base);
  fill: var(--color-white);
}
.icon.append {
  margin-right: var(--margin-sm);
}
.icon.prepend {
  margin-left: var(--margin-sm);
}
.icon svg {
  width: inherit;
  height: inherit;
}
.icon.outline,
.icon.text {
  fill: var(--color-primary);
}

/* Button */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: var(--padding-md);
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  background-color: var(--bg-default);
  border-color: var(--bg-default);
  color: var(--color-default);
  box-shadow: none;
  transition: box-shadow var(--transition-duration), background-color var(--transition-duration),
    color var(--transition-duration), border-color var(--transition-duration);
}
:is(button.active, button:hover, button:focus) {
  background-color: var(--bg-hover-default);
  border-color: var(--bg-hover-default);
}

button.sm {
  padding: var(--padding-sm);
}
button.md {
  padding: var(--padding-md);
}
button.lg {
  padding: var(--padding-lg);
}

button.primary {
  background-color: var(--bg-primary);
  border-color: var(--bg-primary);
  color: var(--color-white);
}
:is(button.primary.active, button.primary:hover, button.primary:focus) {
  background-color: var(--bg-hover-primary);
  border-color: var(--bg-hover-primary);
}

button.secondary {
  background-color: var(--bg-secondary);
  border-color: var(--bg-secondary);
  color: var(--color-white);
}
:is(button.secondary.active, button.secondary:hover, button.secondary:focus) {
  background-color: var(--bg-hover-secondary);
  border-color: var(--bg-hover-secondary);
}

button.danger {
  background-color: var(--bg-danger);
  border-color: var(--bg-danger);
  color: var(--color-white);
}
:is(button.danger.active, button.danger:hover, button.danger:focus) {
  background-color: var(--bg-hover-danger);
  border-color: var(--bg-hover-danger);
}

button.outline {
  background-color: var(--bg-transparent);
  border-color: var(--bg-primary);
  color: var(--bg-primary);
}
:is(button.outline.active, button.outline:hover, button.outline:focus) {
  background-color: var(--bg-hover-transparent);
  border-color: var(--bg-hover-primary);
}

button.text {
  background-color: var(--bg-transparent);
  border-color: var(--bg-transparent);
  color: var(--bg-primary);
}
:is(button.text.active, button.text:hover, button.text:focus) {
  background-color: var(--bg-hover-transparent);
}
button:disabled {
  background-color: var(--bg-default) !important;
  border-color: var(--bg-default) !important;
  color: var(--color-muted) !important;
}
:is(button:disabled.active, button:disabled:hover, button:disabled:focus) {
  filter: brightness(0.9);
}
button.text:disabled {
  background-color: var(--bg-transparent) !important;
  border-color: var(--bg-transparent) !important;
  color: var(--color-muted) !important;
}
:is(button.text:disabled.active, button.text:disabled:hover, button.text:disabled:focus) {
  background-color: var(--bg-default) !important;
  border-color: var(--bg-default) !important;
  filter: brightness(0.9);
}
