/* Button */
.button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: var(--padding-md);
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    background-color: var(--bg-default);
    border-color: var(--bg-default);
    color: var(--color-default);
    box-shadow: none;
    transition: box-shadow var(--transition-duration), background-color var(--transition-duration),
        color var(--transition-duration), border-color var(--transition-duration);
}

:is(.button.active, .button:hover, .button:focus) {
    background-color: var(--bg-hover-default);
    border-color: var(--bg-hover-default);
}

.button.sm {
    padding: var(--padding-sm);
}

.button.md {
    padding: var(--padding-md);
}

.button.lg {
    padding: var(--padding-lg);
}

.button.primary {
    background-color: var(--bg-primary);
    border-color: var(--bg-primary);
    color: var(--color-white);
}

:is(.button.primary.active, .button.primary:hover, .button.primary:focus) {
    background-color: var(--bg-hover-primary);
    border-color: var(--bg-hover-primary);
}

.button.secondary {
    background-color: var(--bg-secondary);
    border-color: var(--bg-secondary);
    color: var(--color-white);
}

:is(.button.secondary.active, .button.secondary:hover, .button.secondary:focus) {
    background-color: var(--bg-hover-secondary);
    border-color: var(--bg-hover-secondary);
}

.button.danger {
    background-color: var(--bg-danger);
    border-color: var(--bg-danger);
    color: var(--color-white);
}

:is(.button.danger.active, .button.danger:hover, .button.danger:focus) {
    background-color: var(--bg-hover-danger);
    border-color: var(--bg-hover-danger);
}

.button.outline {
    background-color: var(--bg-transparent);
    border-color: var(--bg-primary);
    color: var(--bg-primary);
}

:is(.button.outline.active, .button.outline:hover, .button.outline:focus) {
    background-color: var(--bg-hover-transparent);
    border-color: var(--bg-hover-primary);
}

.button.text {
    background-color: var(--bg-transparent);
    border-color: var(--bg-transparent);
    color: var(--bg-primary);
}

:is(.button.text.active, .button.text:hover, .button.text:focus) {
    background-color: var(--bg-hover-transparent);
}

.button:disabled {
    background-color: var(--bg-default) !important;
    border-color: var(--bg-default) !important;
    color: var(--color-muted) !important;
}

:is(.button:disabled.active, .button:disabled:hover, .button:disabled:focus) {
    filter: brightness(0.9);
}

.button.text:disabled {
    background-color: var(--bg-transparent) !important;
    border-color: var(--bg-transparent) !important;
    color: var(--color-muted) !important;
}

:is(.button.text:disabled.active, .button.text:disabled:hover, .button.text:disabled:focus) {
    background-color: var(--bg-default) !important;
    border-color: var(--bg-default) !important;
    filter: brightness(0.9);
}