.item {
    min-width: 150px;
    margin-right: 68px;
}

@media (max-width: 768px) {
    .item {
        margin-right: 0;
        margin-bottom: var(--margin-md);
    }

    .item:last-child {
        margin: 0;
    }
}